header(class="header "+ headerCustomClass)
  .header-bg.container
    a(href="/").logo-wrap 
      span Mulberry
        br
        | Units
    .header-tools__wrapper 
      .header-desktop__menu
        .nav-bar 
          a(href="/")
            span Home 
          a(href="/glampings.html")
            span Glampings
          a(href="/saunas.html")
            span Saunas
          a(href="#contacts")
            span  Contact us
        .socials-list 
          a(href="" aria-label="instagram").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M12.0029 5.5C13.8266 5.5 14.0609 5.50758 14.7861 5.54199C15.5268 5.57472 16.0452 5.69588 16.5039 5.87305C16.9871 6.05507 17.4272 6.34158 17.791 6.70996L17.5898 6.91504L17.7949 6.71387L17.9287 6.85156C18.2354 7.18652 18.4731 7.57577 18.6348 8.00293C18.8123 8.45976 18.9331 8.98117 18.9658 9.72168C18.9976 10.4447 19 10.679 19 12.501C19 14.3248 18.9917 14.5584 18.96 15.2803C18.9273 16.0218 18.8062 16.541 18.6289 17C18.2508 17.9776 17.4778 18.7508 16.5 19.1289C16.043 19.3066 15.5214 19.4273 14.7803 19.46C14.0579 19.4918 13.8245 19.5 12 19.5C10.1756 19.5 9.94201 19.4918 9.21973 19.46C8.47871 19.4273 7.95983 19.3071 7.50098 19.1299C7.01702 18.9475 6.57606 18.6603 6.21191 18.291L6.21387 18.292L6.41602 18.0869L6.21094 18.2891L6.21191 18.291C5.84283 17.9272 5.55621 17.489 5.37109 17C5.1936 16.5433 5.07273 16.0217 5.04004 15.2812C5.00831 14.559 5 14.3251 5 12.501C5 10.6776 5.00757 10.4438 5.04199 9.71875C5.0747 8.97806 5.19585 8.45971 5.37305 8.00098C5.53264 7.57775 5.77237 7.1874 6.07715 6.85254L6.20996 6.71387L6.41602 6.91504L6.21387 6.70996C6.57831 6.33827 7.01646 6.05447 7.50391 5.87012C7.9606 5.69283 8.48212 5.57269 9.22266 5.54004C9.945 5.50832 10.1784 5.5 12.0029 5.5ZM11.999 9.18457C10.1687 9.18483 8.68359 10.6695 8.68359 12.5C8.68359 14.3305 10.1687 15.8152 11.999 15.8154C13.8297 15.8154 15.3154 14.3307 15.3154 12.5C15.3154 10.6693 13.8297 9.18457 11.999 9.18457ZM16.0527 6.97363C15.239 6.97363 14.5792 7.63331 14.5791 8.44727C14.5791 9.2611 15.2389 9.9209 16.0527 9.9209C16.8665 9.92076 17.5264 9.26105 17.5264 8.44727C17.5263 7.63336 16.8665 6.97377 16.0527 6.97363Z" fill="#F2EFE9"/>
            </svg>
          a(href="" aria-label="youtube").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M12.0029 6.5C12.0452 6.50019 15.233 6.5208 17.3447 6.67285L17.3721 6.67578C17.3959 6.67892 17.4231 6.68228 17.4521 6.68555C17.8032 6.72509 18.5323 6.80807 19.1758 7.48633C19.7327 8.06327 19.8683 9.19767 19.8818 9.3252V9.33203C19.8866 9.38522 19.9999 10.6488 20 11.917V13.1025C20 14.3683 19.887 15.6289 19.8818 15.6865L19.8809 15.7031C19.8652 15.8277 19.7111 16.9379 19.1807 17.5088C18.5442 18.2021 17.8264 18.2772 17.4814 18.3135C17.4485 18.3169 17.4183 18.3207 17.3916 18.3242L17.3633 18.3271C15.2534 18.479 12.0703 18.4998 12.0225 18.5H12.0127C11.8504 18.4977 8.02143 18.4412 6.7998 18.3262L6.7627 18.3203C6.72455 18.3137 6.66845 18.3081 6.60352 18.3008C6.1919 18.2541 5.42651 18.1666 4.82129 17.5107C4.26752 16.934 4.13189 15.8222 4.11816 15.6953L4.11719 15.6865C4.1118 15.6263 4.00001 14.3669 4 13.1025V11.917C4 10.6488 4.11243 9.3851 4.11719 9.33203L4.11914 9.31641C4.13489 9.19166 4.28894 8.08151 4.81934 7.51074C5.46474 6.80777 6.18624 6.7252 6.5332 6.68555C6.56042 6.6824 6.58569 6.6788 6.6084 6.67578L6.63672 6.67285C8.7697 6.52066 11.9613 6.50015 11.9971 6.5H12.0029ZM10.8301 10.1074C10.616 10.0005 10.3631 10.0036 10.1533 10.1172C9.94339 10.2309 9.81836 10.4323 9.81836 10.6553V14.3447C9.81836 14.5665 9.94294 14.767 10.1514 14.8809C10.2603 14.9403 10.381 14.9707 10.502 14.9707C10.6128 14.9707 10.724 14.9458 10.8262 14.8955L14.5488 13.0664C14.7698 12.9578 14.9081 12.7479 14.9092 12.5186C14.9101 12.2892 14.774 12.078 14.5537 11.9678L10.8301 10.1074Z" fill="#F2EFE9"/>
            </svg>
          a(href="" aria-label="facebook").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M14.722 7.82458H16V5.59858C15.7795 5.56825 15.0212 5.5 14.1382 5.5C12.2956 5.5 11.0333 6.65908 11.0333 8.78942V10.75H9V13.2385H11.0333V19.5H13.5263V13.2391H15.4774L15.7871 10.7506H13.5257V9.03617C13.5263 8.31692 13.7199 7.82458 14.722 7.82458Z" fill="#F2EFE9"/>
            </svg>

          a(href="" aria-label="tic-tok").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M16.5056 8.4941C16.4122 8.44526 16.3212 8.39173 16.2331 8.33369C15.9767 8.16233 15.7417 7.96042 15.533 7.73231C15.011 7.12829 14.816 6.51553 14.7442 6.08651H14.7471C14.6871 5.73041 14.7119 5.5 14.7156 5.5H12.3378V14.7973C12.3378 14.9221 12.3378 15.0455 12.3326 15.1674C12.3326 15.1826 12.3311 15.1966 12.3303 15.2129C12.3303 15.2196 12.3303 15.2266 12.3288 15.2336C12.3288 15.2353 12.3288 15.2371 12.3288 15.2388C12.3038 15.5724 12.198 15.8947 12.0209 16.1772C11.8437 16.4598 11.6006 16.694 11.313 16.8593C11.0132 17.0317 10.6741 17.1222 10.3291 17.1218C9.22125 17.1218 8.32336 16.2083 8.32336 15.0802C8.32336 13.9521 9.22125 13.0386 10.3291 13.0386C10.5388 13.0384 10.7473 13.0718 10.9467 13.1375L10.9495 10.6894C10.3442 10.6103 9.72928 10.6589 9.14348 10.8322C8.55769 11.0055 8.01377 11.2997 7.54603 11.6961C7.13619 12.0562 6.79163 12.4859 6.52786 12.9657C6.42749 13.1407 6.04878 13.8439 6.00292 14.9851C5.97407 15.6329 6.16646 16.304 6.25818 16.5813V16.5872C6.31587 16.7505 6.5394 17.3078 6.90369 17.7777C7.19744 18.1546 7.5445 18.4857 7.93369 18.7603V18.7544L7.93946 18.7603C9.09059 19.5512 10.3669 19.4993 10.3669 19.4993C10.5878 19.4903 11.328 19.4993 12.1685 19.0965C13.1007 18.65 13.6314 17.9848 13.6314 17.9848C13.9704 17.5873 14.24 17.1343 14.4286 16.6452C14.6438 16.0733 14.7156 15.3873 14.7156 15.1131V10.1807C14.7445 10.1982 15.1286 10.4552 15.1286 10.4552C15.1286 10.4552 15.6822 10.8139 16.5457 11.0475C17.1653 11.2138 18 11.2488 18 11.2488V8.86187C17.7075 8.89396 17.1136 8.80063 16.5056 8.4941Z" fill="#F2EFE9"/>
            </svg>
      button.menu-btn.menu-button(data-menu-button)
        span Меню
        .menu-burger
          span.over 
          span.middle
          span.under  
      button( data-call-us-btn aria-label="House viewing").header-btn 
        .hover-wrap
          span House viewing
  .overflow(data-call-us__overflow data-lenis-prevent).hidden
    .modal-form(data-call-us-modal)
      .close-btn(data-call-us-modal-close) 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M12 4L4 12" stroke="#333333" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4 4L12 12" stroke="#333333" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      h2.form-title Leave your details 
        br
        | - we'll get in touch!
      +form
  .iframe-popup(data-iframe-modal) 
    iframe(src="" loading="lazy" allowfullscreen="true").iframe-window
    .iframe__close-btn(data-iframe-close)
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96967 3.46967C4.26256 3.17678 4.73744 3.17678 5.03033 3.46967L8.5 6.93934L11.9697 3.46967C12.2626 3.17678 12.7374 3.17678 13.0303 3.46967C13.3232 3.76256 13.3232 4.23744 13.0303 4.53033L9.56066 8L13.0303 11.4697C13.3232 11.7626 13.3232 12.2374 13.0303 12.5303C12.7374 12.8232 12.2626 12.8232 11.9697 12.5303L8.5 9.06066L5.03033 12.5303C4.73744 12.8232 4.26256 12.8232 3.96967 12.5303C3.67678 12.2374 3.67678 11.7626 3.96967 11.4697L7.43934 8L3.96967 4.53033C3.67678 4.23744 3.67678 3.76256 3.96967 3.46967Z" fill="#221A22"/>
      </svg>  
  .menu-overlay.hidden(data-menu)
    .menu-container
      a(href="/").menu-item 
        span.menu-face.menu-face--front Home
        

      a(href="/glampings").menu-item 
        span.menu-face.menu-face--front Glampings
        

      a(href="/saunas").menu-item 
        span.menu-face.menu-face--front Saunas
        

      a(href="#contacts").menu-item 
        span.menu-face.menu-face--front Contact us
        
    .menu-bottom
      .social-block 
        h4.block-label  Social networks:
        .socials-list 
          a(href="" aria-label="instagram").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M12.0029 5.5C13.8266 5.5 14.0609 5.50758 14.7861 5.54199C15.5268 5.57472 16.0452 5.69588 16.5039 5.87305C16.9871 6.05507 17.4272 6.34158 17.791 6.70996L17.5898 6.91504L17.7949 6.71387L17.9287 6.85156C18.2354 7.18652 18.4731 7.57577 18.6348 8.00293C18.8123 8.45976 18.9331 8.98117 18.9658 9.72168C18.9976 10.4447 19 10.679 19 12.501C19 14.3248 18.9917 14.5584 18.96 15.2803C18.9273 16.0218 18.8062 16.541 18.6289 17C18.2508 17.9776 17.4778 18.7508 16.5 19.1289C16.043 19.3066 15.5214 19.4273 14.7803 19.46C14.0579 19.4918 13.8245 19.5 12 19.5C10.1756 19.5 9.94201 19.4918 9.21973 19.46C8.47871 19.4273 7.95983 19.3071 7.50098 19.1299C7.01702 18.9475 6.57606 18.6603 6.21191 18.291L6.21387 18.292L6.41602 18.0869L6.21094 18.2891L6.21191 18.291C5.84283 17.9272 5.55621 17.489 5.37109 17C5.1936 16.5433 5.07273 16.0217 5.04004 15.2812C5.00831 14.559 5 14.3251 5 12.501C5 10.6776 5.00757 10.4438 5.04199 9.71875C5.0747 8.97806 5.19585 8.45971 5.37305 8.00098C5.53264 7.57775 5.77237 7.1874 6.07715 6.85254L6.20996 6.71387L6.41602 6.91504L6.21387 6.70996C6.57831 6.33827 7.01646 6.05447 7.50391 5.87012C7.9606 5.69283 8.48212 5.57269 9.22266 5.54004C9.945 5.50832 10.1784 5.5 12.0029 5.5ZM11.999 9.18457C10.1687 9.18483 8.68359 10.6695 8.68359 12.5C8.68359 14.3305 10.1687 15.8152 11.999 15.8154C13.8297 15.8154 15.3154 14.3307 15.3154 12.5C15.3154 10.6693 13.8297 9.18457 11.999 9.18457ZM16.0527 6.97363C15.239 6.97363 14.5792 7.63331 14.5791 8.44727C14.5791 9.2611 15.2389 9.9209 16.0527 9.9209C16.8665 9.92076 17.5264 9.26105 17.5264 8.44727C17.5263 7.63336 16.8665 6.97377 16.0527 6.97363Z" fill="#F2EFE9"/>
            </svg>
          a(href="" aria-label="youtube").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M12.0029 6.5C12.0452 6.50019 15.233 6.5208 17.3447 6.67285L17.3721 6.67578C17.3959 6.67892 17.4231 6.68228 17.4521 6.68555C17.8032 6.72509 18.5323 6.80807 19.1758 7.48633C19.7327 8.06327 19.8683 9.19767 19.8818 9.3252V9.33203C19.8866 9.38522 19.9999 10.6488 20 11.917V13.1025C20 14.3683 19.887 15.6289 19.8818 15.6865L19.8809 15.7031C19.8652 15.8277 19.7111 16.9379 19.1807 17.5088C18.5442 18.2021 17.8264 18.2772 17.4814 18.3135C17.4485 18.3169 17.4183 18.3207 17.3916 18.3242L17.3633 18.3271C15.2534 18.479 12.0703 18.4998 12.0225 18.5H12.0127C11.8504 18.4977 8.02143 18.4412 6.7998 18.3262L6.7627 18.3203C6.72455 18.3137 6.66845 18.3081 6.60352 18.3008C6.1919 18.2541 5.42651 18.1666 4.82129 17.5107C4.26752 16.934 4.13189 15.8222 4.11816 15.6953L4.11719 15.6865C4.1118 15.6263 4.00001 14.3669 4 13.1025V11.917C4 10.6488 4.11243 9.3851 4.11719 9.33203L4.11914 9.31641C4.13489 9.19166 4.28894 8.08151 4.81934 7.51074C5.46474 6.80777 6.18624 6.7252 6.5332 6.68555C6.56042 6.6824 6.58569 6.6788 6.6084 6.67578L6.63672 6.67285C8.7697 6.52066 11.9613 6.50015 11.9971 6.5H12.0029ZM10.8301 10.1074C10.616 10.0005 10.3631 10.0036 10.1533 10.1172C9.94339 10.2309 9.81836 10.4323 9.81836 10.6553V14.3447C9.81836 14.5665 9.94294 14.767 10.1514 14.8809C10.2603 14.9403 10.381 14.9707 10.502 14.9707C10.6128 14.9707 10.724 14.9458 10.8262 14.8955L14.5488 13.0664C14.7698 12.9578 14.9081 12.7479 14.9092 12.5186C14.9101 12.2892 14.774 12.078 14.5537 11.9678L10.8301 10.1074Z" fill="#F2EFE9"/>
            </svg>
          a(href="" aria-label="facebook").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M14.722 7.82458H16V5.59858C15.7795 5.56825 15.0212 5.5 14.1382 5.5C12.2956 5.5 11.0333 6.65908 11.0333 8.78942V10.75H9V13.2385H11.0333V19.5H13.5263V13.2391H15.4774L15.7871 10.7506H13.5257V9.03617C13.5263 8.31692 13.7199 7.82458 14.722 7.82458Z" fill="#F2EFE9"/>
            </svg>

          a(href="" aria-label="tic-tok").socials-list__item 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M16.5056 8.4941C16.4122 8.44526 16.3212 8.39173 16.2331 8.33369C15.9767 8.16233 15.7417 7.96042 15.533 7.73231C15.011 7.12829 14.816 6.51553 14.7442 6.08651H14.7471C14.6871 5.73041 14.7119 5.5 14.7156 5.5H12.3378V14.7973C12.3378 14.9221 12.3378 15.0455 12.3326 15.1674C12.3326 15.1826 12.3311 15.1966 12.3303 15.2129C12.3303 15.2196 12.3303 15.2266 12.3288 15.2336C12.3288 15.2353 12.3288 15.2371 12.3288 15.2388C12.3038 15.5724 12.198 15.8947 12.0209 16.1772C11.8437 16.4598 11.6006 16.694 11.313 16.8593C11.0132 17.0317 10.6741 17.1222 10.3291 17.1218C9.22125 17.1218 8.32336 16.2083 8.32336 15.0802C8.32336 13.9521 9.22125 13.0386 10.3291 13.0386C10.5388 13.0384 10.7473 13.0718 10.9467 13.1375L10.9495 10.6894C10.3442 10.6103 9.72928 10.6589 9.14348 10.8322C8.55769 11.0055 8.01377 11.2997 7.54603 11.6961C7.13619 12.0562 6.79163 12.4859 6.52786 12.9657C6.42749 13.1407 6.04878 13.8439 6.00292 14.9851C5.97407 15.6329 6.16646 16.304 6.25818 16.5813V16.5872C6.31587 16.7505 6.5394 17.3078 6.90369 17.7777C7.19744 18.1546 7.5445 18.4857 7.93369 18.7603V18.7544L7.93946 18.7603C9.09059 19.5512 10.3669 19.4993 10.3669 19.4993C10.5878 19.4903 11.328 19.4993 12.1685 19.0965C13.1007 18.65 13.6314 17.9848 13.6314 17.9848C13.9704 17.5873 14.24 17.1343 14.4286 16.6452C14.6438 16.0733 14.7156 15.3873 14.7156 15.1131V10.1807C14.7445 10.1982 15.1286 10.4552 15.1286 10.4552C15.1286 10.4552 15.6822 10.8139 16.5457 11.0475C17.1653 11.2138 18 11.2488 18 11.2488V8.86187C17.7075 8.89396 17.1136 8.80063 16.5056 8.4941Z" fill="#F2EFE9"/>
            </svg>
      


