.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  
}
.header-bg {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid rgba(242, 239, 233, 0.10);
  height: 77px;
  transition: all 0.4s ease-out;
  @include tablet {
    height: 124px;

  }
  @include laptop {
    height: 137px;
    
  }
  &.scroll-down {
    height: 65px;
    backdrop-filter: blur(32px);
    @include tablet {
    height: 100px;
  }
  @include laptop {
    height: 100px;
  }
  }

}
.logo-wrap {
display: flex;
align-items: center;
height:100%;
padding-right:16px ;
border-right: 1px solid rgba(242, 239, 233, 0.10);

@include tablet {
  padding-right:30px ;
}
@include laptop {
  padding-right:40px ;
}
span {
  @include block-title;
  text-transform: none;
  font-weight: 700;
}
}

.header-tools__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:16px;
width: 100%;
  @include tablet {
  padding-left:30px;
  }

  @include laptop {
    padding-left:40px;
  }
}
.header-desktop__menu{
  display: none;
  @include laptop {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-right:40px;
    
  }
}
.nav-bar{
  @include subtitle-text;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
  
}

.socials-list {
  display: flex;
  align-items: center;
  gap: 4px;
   @include tablet {
    gap: 12px;
  }
  @include laptop {
    gap: 20px;
  }

  &__item{
    
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.75px solid rgba(242, 239, 233, 0.10);
    position: relative;
    overflow: hidden;
    svg {
      position: relative;
      z-index: 2;
      transition: all 0.3s ease;
      width: 19.2px;
      height: 19.2px;
      path {
        transition: all 0.3s ease;
      }
    }
     &::before,
      &::after {
    content: '';
    position: absolute;
    background-color: $bc;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    // opacity: 0.4;
    z-index: 1;
  }

  &::before {
    transform: rotate(180deg) translate(0%, -100%);
  }

  &::after {
    transform: rotate(180deg) translate(0%, 100%);
  
  }
  &:hover {
    // border-color: #9691912d;
    
    &::before {
      
      transform: rotate(180deg) translate(0%, -50%);
    }

    &::after {
     
      transform: rotate(180deg) translate(0%, 50%);
    }
    svg {
      
      transform: scale(1.4) ;
    }
  }
  @include tablet {
    width: 42px;
height: 42px;
svg {
  width: 25.2px;
height: 25.2px;
}
  }
    @include laptop {
      width: 40px;
height: 40px;
svg {
  width: 24px;
height: 24px;
}
    }
  }
}

.header-btn {
  border-radius: 8px;
  background: $text-color;
  padding:8px;
  margin-left: 16px ;
  .hover-wrap {
    padding:8px;
    width: 100%;
    position:relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: $bc;
      transform: translateX(-100%);
      z-index: 1;
      transition: transform 0.8s $cubic-btn;
    }
  }
  &:hover {
    .hover-wrap::before {
      transform: translateX(0);
    }
    
    span {
      color: $text-color;
    }

  }
  span {
    position: relative;
    z-index: 2;
    transition: color 0.4s ease-in-out;
    @include subtitle-text;
    font-size: 14px;
    font-weight: 500;
    color: $bc;
    white-space: nowrap;
  }
  @include tablet {
    padding:8px;
    margin-left: 30px ;
    .hover-wrap {
    
  padding: 12px 32px;}
  }
  @include laptop  {
    padding:8px;
    margin-left: 40px;
    width: 19.6vw;
    .hover-wrap {
    
    padding: 16px 12px;}
  }
}

.menu-btn{
  
  display: flex;
  align-items: center;
  gap: 8px;
   @include tablet {gap: 12px;}
  @include laptop {display: none;}

  span {
    @include subtitle-text;
    font-weight: 500;
  }
}
.menu-burger {
  width: 32px;
height: 32px;
position: relative;
overflow: hidden;
border-radius: 50%;
background-color: rgba(242, 239, 233, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
 &::before,
      &::after {
    content: '';
    position: absolute;
    background-color: $accent-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    opacity: 0.4;
    z-index: 1;
  }

  &::before {
    transform: rotate(180deg) translate(0%, -100%);
  }

  &::after {
    transform: rotate(180deg) translate(0%, 100%);
  
  }
  &:hover {
    
    
    &::before {
      
      transform: rotate(180deg) translate(0%, -50%);
    }

    &::after {
     
      transform: rotate(180deg) translate(0%, 50%);
    }
    
  }
  span {
    position: relative;
    z-index: 3;
    height: 2px;
    width: 14px;
    border-radius: 4px;
    background-color: $text-color;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
 @include tablet {
    width: 42px;
height: 42px;
span {
  width: 20px;
}
  }
}

.header-bg.menu-is-open {
  .menu-burger {
    .over {
      opacity: 0;
    }

    .middle {
      transform: rotate(45deg);
    }

    .under {
      transform: rotate(-45deg) translate(3px, -4px);
    }
  }
}

.menu-overlay {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  background-color: $bg-color;
  pointer-events: all;
  display: flex;
  flex-direction: column;

   @include tablet {
    
  }
  @include laptop {
    display: none;
  }
  &.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  
}

.menu-container {

  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap:20px;
  width: 100%;
 
  padding: 16px;
  @include tablet {
    gap: 40px;
    padding: 30px;
  }
  
}
.menu-item {
  @include section-title;
	@include tablet {
    font-size: 92px;
  }
  
    span {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
   .menu-face {
    display: inline-block;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
    backface-visibility: hidden;
    color: $text-color;
    
  }

  .menu-face--front {
    transform: rotateX(0deg);
  }

  .menu-face--back {
    position: absolute;
    top: 0;
    left: 0;
    transform:  translateX(100%) ;
    opacity: 0;
    text-decoration:underline;
  }

}
.menu-bottom {
 
 border-top: 1px solid rgba(242, 239, 233, 0.10);

}
.social-block {
  padding: 16px;
  width: fit-content;
  border-right: 1px solid rgba(242, 239, 233, 0.10);
  @include tablet {
    padding: 30px;
  }
  .block-label {
    color: $text-color;
    opacity: 0.5;
    font-family: $default-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 8px;
    @include tablet {
      margin-bottom: 12px;
    }
  }
  .socials-list {
    display: flex;
  }
}


.accent-color {
  color: $accent-color;
}